body {
    background-color: #008081;
    font-family: 'Windows 95';
}
body img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.icon-label {
    font-size: 12px;
}
.buffer {
    margin-top: 50px;
    margin-bottom: 100px;
}
#me {
    float: left;
    margin: 10px;
    height: 20%;
    width: 20%;
}

@media only screen and (max-width: 768px) {
    #me {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
    }
    .card {
    text-align: center;
    }
    #tab-img {
     display: block;
    margin: auto;
    height: 50%;
    width: 50%;
    padding-bottom: 5%;
    float: none;
    }
}
.tab-content {
    border-left: 2px solid white;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
.tab-pane img {
    height: 20%;
    width: 20%;
    float: left;
    margin-right: 5%;
}