body {
    background-color: #008081;
    font-family: 'Windows 95';
}
body img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.buffer {
    margin-top: 50px;
    margin-bottom: 100px;
}
.card img {
    float: left;
    margin: 10px;
}
